[Unit]
Description=configer service
After=multi-user.target
[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/usr/bin/python3 /root/configer/configer.py
[Install]
WantedBy=multi-user.target
